<launch>

  <node name="ava_recognizer" pkg="applications" type="ava_asr_recognizer.py" output="screen">
    <param name="lm" value="$(find applications)/ava_custom_asr/1941.lm"/>
    <param name="dict" value="$(find applications)/ava_custom_asr/1941.dic"/>
    <param name="hmm" value=":default"/>
  </node>

  <node name="ava_voice_cmd" pkg="applications" type="ava_voice_cmd.py" output="screen">
  </node>

</launch>
