<launch>

  <node name="recognizer" pkg="applications" type="recognizer.py" output="screen">
    <param name="lm" value="$(find applications)/ava_custom_asr/1941.lm"/>
    <param name="dict" value="$(find applications)/ava_custom_asr/1941.dic"/>
    <param name="mic_name" value="alsa_input.usb-GEO_Semi_Condor"/>
    <!-- use alsa_input.usb-Microsoft for desktop usb mic-->
  </node>

  <node name="voice_cmd_vel" pkg="applications" type="voice_cmd_vel.py" output="screen">
    <remap from="cmd_vel" to="avademo_node/cmd_vel"/>
  </node>

</launch>
