<launch>

  <node name="ava_recognizer" pkg="applications" type="ava_asr_recognizer.py" output="screen">
    <param name="lm" value="../ava_custom_asr/1941.lm"/>
    <param name="dict" value="../ava_custom_asr/1941.dic"/>
  </node>

  <node name="ava_voice_cmd" pkg="applications" type="ava_voice_cmd.py" output="screen">
    <remap from="cmd_vel" to="ava_voice_node/cmd_vel"/>
  </node>

</launch>
