<launch>
  <arg name="map_file_name" default="/home/team5/maps/playground.yaml" />
  <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
    <arg name="map_file" value="$(arg map_file_name)" />
  </include>
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find applications)/config/navigation_fetch_extra_info.rviz" />
</launch>